<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>showEmployee</servlet-name>
        <servlet-class>showEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showEquipment</servlet-name>
        <servlet-class>showEquipment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addEmployee</servlet-name>
        <servlet-class>addEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addMachine</servlet-name>
        <servlet-class>addMachine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteEmployee</servlet-name>
        <servlet-class>deleteEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteEquipment</servlet-name>
        <servlet-class>deleteEquipment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showEmployee</servlet-name>
        <url-pattern>/showEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showEquipment</servlet-name>
        <url-pattern>/showEquipment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addEmployee</servlet-name>
        <url-pattern>/addEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addMachine</servlet-name>
        <url-pattern>/addMachine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteEmployee</servlet-name>
        <url-pattern>/deleteEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteEquipment</servlet-name>
        <url-pattern>/deleteEquipment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
